<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Web-Calc</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="calc">
        <top>{{curr_num}}</top>
        <btn @click="clear()">C</btn>       <btn @click="ANS()">ANS</btn>       <btn @click="DEL()">DEL</btn>        <btn @click="set_operator('+')" class="operator">+</btn>
        <btn @click="apnd('1')">1</btn>     <btn @click="apnd('2')">2</btn>     <btn @click="apnd('3')">3</btn>      <btn @click="set_operator('-')" class="operator">-</btn>
        <btn @click="apnd('4')">4</btn>     <btn @click="apnd('5')">5</btn>     <btn @click="apnd('6')">6</btn>      <btn @click="set_operator('*')" class="operator">*</btn>
        <btn @click="apnd('7')">7</btn>     <btn @click="apnd('8')">8</btn>     <btn @click="apnd('9')">9</btn>      <btn @click="set_operator('/')" class="operator">/</btn>
        <btn @click="apnd('.')">.</btn>      <btn @click="apnd('0')">0</btn>    <btn @click="apnd('.')">.</btn>      <btn @click="calc()" class="equals">=</btn>
        <log>Log:<pre>{{log}}</pre></log>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.5"></script>
    <script src="calc.js"></script>
</body>
</html>
