body{
    background-color: black;
}

#calc{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
#calc > btn {
    cursor: pointer;

    flex-basis: 25%;

    font-size: 300%;

    background-color: #AAA;
}
#calc > top {
    flex-basis: 100%;
    font-size: 500%;

    background-color: #333;
}
#calc > log {
    flex-basis: 100%;
    font-size: 300%;

    height: 300px;
    overflow-y: scroll;
    background-color: gray;
}

#calc > * {
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    padding: -1px;
    margin: -1px;

    text-align: center;
}
#calc > btn:hover {
    background-color: gray;
    font-weight: bold;
}
#calc > .equals{
    background-color: orangered;
}
#calc > .operator{
    background-color: orange;
}
